<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<table class="table table-striped">
<thead>
<tr><th scope="col">ID</th><th scope="col">Status</th></tr>
</thead>
<tbody>
{{range .Jobs}}
<tr>
    <td>{{.ID}} </td>
    <td>{{.Status}}</td>
</tr>
{{end}}
</tbody>
</table>
<script>
 var wsClient = new WebSocket("ws://localhost:3000/ws")
 var update = function() {
     wsClient.onmessage = function(response) {
         var jsonData = JSON.parse(response.data)
         var oTableBody = document.querySelector('.table tbody')
         for(var i = 0; i < oTableBody.rows.length; i++) {
             var oCells = oTableBody.rows.item(i).cells
             var jobID = oCells.item(0).innerText
             if(jobID == jsonData.id) {
                 oCells.item(1).innerText = jsonData.status
             }          
         }
     }
 };
 window.setTimeout(update);
</script>
</body>
</html>